@import url("https://chinese-fonts-cdn.deno.dev/packages/lxgwwenkaibright/dist/LXGWBright-Regular/result.css");
@import url("https://cdn.jsdelivr.net/npm/lxgw-wenkai-webfont@1.7.0/style.min.css");
@import url("https://cdn.jsdelivr.net/npm/@fontsource/cascadia-code@4.2.1/index.min.css");
@import url("https://fonts.googleapis.com/css2?family=Ysabeau:ital,wght@1,1..1000&display=swap");

/* --- 微调 --- */

html {
  font-size: 17px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga" 1, "dlig" 1, "tnum";
}

.vp-doc div[class*="language-"] pre,
.vp-doc div[class*="language-"] code {
  font-weight: 350;
  font-variant-ligatures: normal;
}